<div class="row">
	<div class="small-4 columns small-offset-3">
		<h1>Sign In</h1>
	</div>
</div>



<%= form_for(:session, url: sessions_path) do |f| %>
<div class='row collapse'>

	<div class='small-3 columns'>
		<%= f.label :email, class: 'right inline'%>
	</div>

	<div class="small-3 columns">
		<%= f.text_field :email %>
	</div>

	<div class="small-6 columns">
	</div>

</div>

<div class='row collapse'>

	<div class='small-3 columns'>
		<%= f.label :password, class: 'right inline'%>
	</div>

	<div class="small-3 columns">
		<%= f.password_field :password %>
	</div>

	<div class="small-6 columns">
	</div>

</div>

<div class='row collapse'>
	<div class="small-9 small-offset-3"> 
		<%= f.submit 'Sign in', class: 'button'%>
	</div>
	<% end %>

	<p> New User? <%= link_to "Sign up now!", signup_path %></p>
</div>





