<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chart.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @chart.content %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @chart.author_name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @chart.published_at %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
